<div class="container">
    <footer class="footer">
        <small>
            Copyright © <a href="#">nothing to see</a>
        </small>
        <nav>
            <ul>
                <li> <%= link_to "About", pages_about_path %></li>
            </ul>
        </nav>
    </footer>
</div>